<html>
  <head>
    <title>Welcome to Our App</title>
  </head>
  <body>
    <h1 style='color: red;'>Welcome, {{user.firstName}}!</h1>
    <p>
      We're excited to have you on board. Here are some things you might want to
      do next:
    </p>
    <ul>
      <li>Explore our features</li>
      <li>Set up your profile</li>
      <li>Start your first project</li>
    </ul>
    <p>
      If you have any questions, feel free to reply to this email. We're here to
      help!
    </p>
    <p>
      Cheers,<br />
      The Pogrami App Team
    </p>
  </body>
</html>